@import './media';
@import '../config';

.container {
  max-width: 60em;
  margin: 0 auto spacing('1-5');
  width: 80%;

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.125em;
    margin: spacing('1') 0;
  }
}

.circle {
  border-radius: 100%;
  line-height: 3.125rem;
  padding: 0;
  width: 3.125rem;
}

.pilled {
  border-radius: 6.25rem;
  padding-left: spacing('1-5');
  padding-right: spacing('1-5');
}

.text-center {
  text-align: center;
}
.flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.align-flex-start {
  align-items: flex-start;
}
.align-flex-end {
  align-items: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-flex-start {
  justify-content: flex-start;
}
.justify-flex-end {
  justify-content: flex-end;
}
.justify-space-around {
  justify-content: space-around;
}
.justify-space-between {
  justify-content: space-between;
}

@include media-below('tablet') {
  @for $i from 0 through 12 {
    .sm-pos-#{$i} {
      order: #{$i};
    }
  }
}

@include media-between('tablet', 'desktop') {
  @for $i from 0 through 12 {
    .md-pos-#{$i} {
      order: #{$i};
    }
  }
}

@include media-above('desktop') {
  @for $i from 0 through 12 {
    .lg-pos-#{$i} {
      order: #{$i};
    }
  }
}

@each $spacing-name, $spacing-value in $spacing-system {
  .m-#{$spacing-name} {
    margin: $spacing-value !important;
  }
  .ml-#{$spacing-name} {
    margin-left: $spacing-value !important;
  }
  .mr-#{$spacing-name} {
    margin-right: $spacing-value !important;
  }
  .mt-#{$spacing-name} {
    margin-top: $spacing-value !important;
  }
  .mb-#{$spacing-name} {
    margin-bottom: $spacing-value !important;
  }
  .p-#{$spacing-name} {
    padding: $spacing-value !important;
  }
  .pl-#{$spacing-name} {
    padding-left: $spacing-value !important;
  }
  .pr-#{$spacing-name} {
    padding-right: $spacing-value !important;
  }
  .pt-#{$spacing-name} {
    padding-top: $spacing-value !important;
  }
  .pb-#{$spacing-name} {
    padding-bottom: $spacing-value !important;
  }
}

@each $font-size-name, $font-size-value in $font-size-system {
  .font-#{$font-size-name} {
    font-size: $font-size-value;
  }
  .line-height-#{$font-size-name} {
    line-height: $font-size-value;
  }
}

@each $shadow-name, $shadow-value in $shadow-system {
  .shadow-#{$shadow-name} {
    box-shadow: $shadow-value;
  }
}
