@import './media';
@import '../config';

.container {
  max-width: 60em;
  margin: 0 auto spacing('1-5');
  width: 80%;

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.125em;
    margin: spacing('1') 0;
  }
}

.pointer {
  cursor: pointer !important;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

.circle {
  border-radius: 100%;
  line-height: 3.125rem;
  padding: 0;
  width: 3.125rem;
}

.pilled {
  border-radius: 6.25rem;
  padding-left: spacing('1-5');
  padding-right: spacing('1-5');
}

.flex {
  display: flex !important;
}
.block {
  display: block !important;
}
.inline-flex {
  display: inline-flex !important;
}
.inline-block {
  display: inline-block !important;
}

.text-center {
  text-align: center !important;
}

.pull-right {
  float: right !important;
}

@include media-below('tablet') {
  @for $i from 0 through 12 {
    .sm-pos-#{$i} {
      order: #{$i};
    }
  }
}

@include media-between('tablet', 'desktop') {
  @for $i from 0 through 12 {
    .md-pos-#{$i} {
      order: #{$i};
    }
  }
}

@include media-above('desktop') {
  @for $i from 0 through 12 {
    .lg-pos-#{$i} {
      order: #{$i};
    }
  }
}

@each $spacing-name, $spacing-value in $spacing-system {
  .m-#{$spacing-name} {
    margin: $spacing-value !important;
  }
  .ml-#{$spacing-name} {
    margin-left: $spacing-value !important;
  }
  .mr-#{$spacing-name} {
    margin-right: $spacing-value !important;
  }
  .mt-#{$spacing-name} {
    margin-top: $spacing-value !important;
  }
  .mb-#{$spacing-name} {
    margin-bottom: $spacing-value !important;
  }
  .p-#{$spacing-name} {
    padding: $spacing-value !important;
  }
  .pl-#{$spacing-name} {
    padding-left: $spacing-value !important;
  }
  .pr-#{$spacing-name} {
    padding-right: $spacing-value !important;
  }
  .pt-#{$spacing-name} {
    padding-top: $spacing-value !important;
  }
  .pb-#{$spacing-name} {
    padding-bottom: $spacing-value !important;
  }
}
.m-auto {
  margin: auto !important;
}
.mt-auto {
  margin-top: auto !important;
}
.ml-auto {
  margin-left: auto !important;
}
.mr-auto {
  margin-right: auto !important;
}

@each $font-size-name, $font-size-value in $font-size-system {
  .font-#{$font-size-name} {
    font-size: $font-size-value;
  }
  .line-height-#{$font-size-name} {
    line-height: $font-size-value;
  }
}

@each $width-name, $width-value in $width-system {
  .w-#{$width-name} {
    width: $width-value;
  }
  .mw-#{$width-name} {
    max-width: $width-value;
  }
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}

@each $shadow-name, $shadow-value in $shadow-system {
  .shadow-#{$shadow-name} {
    box-shadow: $shadow-value;
  }
}

@each $border-radius-name, $border-radius-value in $border-radius-system {
  .b-radius-#{$border-radius-name} {
    border-radius: $border-radius-value !important;
  }
  .btl-radius-#{$border-radius-name} {
    border-top-left-radius: $border-radius-value !important;
  }
  .btr-radius-#{$border-radius-name} {
    border-top-right-radius: $border-radius-value !important;
  }
  .bbl-radius-#{$border-radius-name} {
    border-bottom-left-radius: $border-radius-value !important;
  }
  .bbr-radius-#{$border-radius-name} {
    border-bottom-right-radius: $border-radius-value !important;
  }
}

@each $border-name, $border-value in $border-system {
  .b-#{$border-name} {
    border: $border-value solid #fff;
  }
  .bt-#{$border-name} {
    border-top: $border-value solid #fff;
  }
  .bb-#{$border-name} {
    border-bottom: $border-value solid #fff;
  }
  .bl-#{$border-name} {
    border-left: $border-value solid #fff;
  }
  .br-#{$border-name} {
    border-right: $border-value solid #fff;
  }
}

.b-hover-none:hover {
  border: none !important;
}

kbd {
  padding: spacing('0-25');
  margin: spacing('0-5') 0;
  background-color: var(--accent-color-200);
  color: var(--accent-color-700);
  border-radius: border-radius('reg');
}
