@import '../config';

.badge {
  position: relative;
  display: inline-block;

  span.number {
    z-index: 1000;
    position: absolute;
    top: -6px;
    right: -6px;
    border-radius: 50%;
    background: var(--accent-color-600);
    color: $background-color;
    text-align: center;
    width: width('1-5');
    height: width('1-5');
    line-height: width('1-5');
    font-size: font('12');

    &.badge-sm {
      width: width('1-25');
      height: width('1-25');
      font-size: font('12');
      line-height: width('1-25');
    }

    &.badge-lg {
      width: width('2');
      height: width('2');
      font-size: font('20');
      line-height: width('2');
      top: -12px;
      right: -12px;
    }

    &.badge-xl {
      width: width('2-5');
      height: width('2-5');
      font-size: font('24');
      line-height: width('2-5');
      top: -16px;
      right: -16px;
    }
  }
}
