@import '../config';

.card {
  background-color: #fff;
  border-radius: border-radius('reg');
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  backface-visibility: hidden;
  box-shadow: shadow('md');
  margin-bottom: spacing('1');

  &.card-equal-height {
    display: flex !important;
    flex-direction: column !important;
    height: 100%;
  }

  &:hover {
    transition: all 0.3s;
    box-shadow: shadow('lg');
  }
}
