@import '../config';

.pagination {
  display: flex;
  display: -ms-flexbox;

  .pagination-item {
    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    margin: spacing('1') spacing('0-25');
    transition: all 0.3s;
    border-radius: border-radius('5');
    margin: spacing('0-25') 0;
    -webkit-flex: 0;
    -ms-flex: 0;
    flex: 0;

    &[disabled] {
      cursor: not-allowed;

      a {
        opacity: 0.5;
        background-color: grays('200');
        pointer-events: none;
        user-select: none;
      }
    }

    a {
      display: inline-block;
      line-height: 1.25;
      padding: spacing('0-5') spacing('0-75');
      color: grays('600');
    }

    &:not(.selected):hover {
      background-color: grays('200');
    }

    &.selected {
      background-color: var(--primary-color-600);
      color: #fff;

      a {
        color: #fff;
      }
    }

    &.pagination-next {
      text-align: right;
    }

    &.pagination-prev {
      text-align: left;
    }
  }

  &.pagination-bordered {
    .pagination-item {
      border-radius: 0;
      border: 1px solid grays('400');
      border-left-color: transparent;

      &:first-child {
        border-top-left-radius: border-radius('5');
        border-bottom-left-radius: border-radius('5');
        border-left-color: grays('400');
      }

      &:last-child {
        border-top-right-radius: border-radius('5');
        border-bottom-right-radius: border-radius('5');
      }

      &.selected {
        border-color: transparent;
      }
    }
  }
}
