@import '../config';
@import '../style/colors.scss';

.tag {
  align-items: center;
  background-color: grays('200');
  border-radius: border-radius('reg');
  color: $foreground-color;
  display: inline-flex;
  font-size: 75%;
  line-height: 1.5;
  min-height: spacing('1-5');
  padding: 0 spacing('0-75');
  font-weight: 600;
  white-space: nowrap;

  &.tag-lg {
    font-size: 100%;
  }

  &.tag-xl {
    font-size: 150%;
  }

  &.tag-rounded {
    border-radius: 290486px;
  }
}

.tag-container {
  display: flex;
  flex-wrap: wrap;

  &:not(:last-child) {
    margin: spacing('1') 0;
  }

  .tag {
    margin-bottom: spacing('0-5');

    &:not(:last-child) {
      margin-right: spacing('0-5');
    }
  }

  &.group-tags {
    .tag {
      margin-right: 0;

      &:first-child {
        border-radius: border-radius('reg') 0 0 border-radius('reg');
      }

      &:not(:first-child):not(:last-child) {
        border-radius: 0;
      }

      &:last-child {
        border-radius: 0 border-radius('reg') border-radius('reg') 0;
      }
    }
    &.group-tags-pilled .tag {
      &:first-child {
        border-radius: 290486px 0 0 290486px;
      }

      &:not(:first-child):not(:last-child) {
        border-radius: 0;
      }

      &:last-child {
        border-radius: 0 290486px 290486px 0;
      }
    }
  }
}
