$breakpoints: (
  'phone': 640px,
  'tablet': 769px,
  'desktop': 1024px,
) !default;

$spacing-base-value: 16px;
$spacing-system: (
  '0': $spacing-base-value * 0,
  '0-25': $spacing-base-value * 0.25,
  '0-5': $spacing-base-value * 0.5,
  '0-75': $spacing-base-value * 0.75,
  '1': $spacing-base-value * 1,
  '1-5': $spacing-base-value * 1.5,
  '2': $spacing-base-value * 2,
  '3': $spacing-base-value * 3,
  '4': $spacing-base-value * 4,
  '6': $spacing-base-value * 6,
  '8': $spacing-base-value * 8,
  '12': $spacing-base-value * 12,
  '16': $spacing-base-value * 16,
  '24': $spacing-base-value * 24,
  '32': $spacing-base-value * 32,
  '40': $spacing-base-value * 40,
  '48': $spacing-base-value * 48,
);
@function spacing($spacing-value) {
  @return map-get($spacing-system, $spacing-value);
}

$font-size-system: (
  '12': 12px,
  '14': 14px,
  '16': 16px,
  '18': 18px,
  '20': 20px,
  '24': 24px,
  '30': 30px,
  '36': 36px,
  '48': 48px,
  '60': 60px,
  '72': 72px,
  '96': 96px,
  '144': 144px,
  '288': 288px,
);
@function font($font-size-value) {
  @return map-get($font-size-system, $font-size-value);
}

$border-radius-system: (
  'none': 0px,
  'sm': 2px,
  'reg': 4px,
  'md': 6px,
  'lg': 8px,
);
@function border-radius($border-radius-value) {
  @return map-get($border-radius-system, $border-radius-value);
}

$border-system: (
  '0': 0,
  '1': 1px,
  '2': 2px,
  '4': 4px,
  '8': 8px,
);
@function border($border-value) {
  @return map-get($border-system, $border-value);
}

$shadow-system: (
  'none': none,
  'xs': 0 1px 3px hsla(0, 0%, 0%, 0.12),
  'sm': 0 4px 6px hsla(0, 0%, 0%, 0.12),
  'md': 0 5px 15px hsla(0, 0%, 0%, 0.12),
  'lg': 0 10px 24px hsla(0, 0%, 0%, 0.12),
  'xl': 0 15px 35px hsla(0, 0%, 0%, 0.12),
);
@function shadow($shadow-value) {
  @return map-get($shadow-system, $shadow-value);
}

$width-base-value: 16px;
$width-system: (
  '0': $width-base-value * 0,
  '0-25': $width-base-value * 0.25,
  '0-5': $width-base-value * 0.5,
  '0-75': $width-base-value * 0.75,
  '1': $width-base-value * 1,
  '1-25': $width-base-value * 1.25,
  '1-5': $width-base-value * 1.5,
  '2': $width-base-value * 2,
  '2-5': $width-base-value * 2.5,
  '3': $width-base-value * 3,
  '4': $width-base-value * 4,
  '5': $width-base-value * 5,
  '6': $width-base-value * 6,
  '8': $width-base-value * 8,
  '10': $width-base-value * 10,
  '12': $width-base-value * 12,
  '14': $width-base-value * 14,
  '16': $width-base-value * 16,
  '18': $width-base-value * 18,
  '20': $width-base-value * 20,
  '22': $width-base-value * 22,
  '24': $width-base-value * 24,
  '28': $width-base-value * 28,
  '32': $width-base-value * 32,
  '36': $width-base-value * 36,
  '40': $width-base-value * 40,
);
@function width($width-value) {
  @return map-get($width-system, $width-value);
}
