$im-media-support: true !default;

$breakpoints: (
  'phone': 640px,
  'tablet': 769px,
  'desktop': 1024px
) !default;

$foreground-color: #374054;
$background-color: #fff;
$green-100: #f0fff4;
$green-200: #c6f6d5;
$green-300: #9ae6b4;
$green-400: #48bb78;
$green-500: #48bb78;
$green-600: #38a169;
$green-700: #2f855a;
$green-800: #276749;
$green-900: #22543d;

$blue-100: #ebf8ff;
$blue-200: #bee3f8;
$blue-300: #90cdf4;
$blue-400: #63b3ed;
$blue-500: #4299e1;
$blue-600: #3182ce;
$blue-700: #2b6cb0;
$blue-800: #2c5282;
$blue-900: #2a4365;

$spacing-base-value: 16px;
$spacing-system: (
  '0-25': $spacing-base-value * 0.25,
  '0-5': $spacing-base-value * 0.5,
  '0-75': $spacing-base-value * 0.75,
  '1': $spacing-base-value * 1,
  '1-5': $spacing-base-value * 1.5,
  '2': $spacing-base-value * 2,
  '3': $spacing-base-value * 3,
  '4': $spacing-base-value * 4,
  '6': $spacing-base-value * 6,
  '8': $spacing-base-value * 8,
  '12': $spacing-base-value * 12,
  '16': $spacing-base-value * 16,
  '24': $spacing-base-value * 24,
  '32': $spacing-base-value * 32,
  '40': $spacing-base-value * 40,
  '48': $spacing-base-value * 48,
);
@function spacing($spacing-value) {
  @return map-get($spacing-system, $spacing-value);
}

$font-size-system: (
  '12': 12px,
  '14': 14px,
  '16': 16px,
  '18': 18px,
  '20': 20px,
  '24': 24px,
  '30': 30px,
  '36': 36px,
  '48': 48px,
  '60': 60px,
  '72': 72px,
);
@function font($font-size-value) {
  @return map-get($font-size-system, $font-size-value);
}

$border-radius-system: (
  '5': 5px,
);
@function border-radius($border-radius-value) {
  @return map-get($border-radius-system, $border-radius-value);
}

$shadow-system: (
  'xsmall': 0 1px 3px hsla(0, 0%, 0%, 0.12),
  'small': 0 4px 6px hsla(0, 0%, 0%, 0.12),
  'medium': 0 5px 15px hsla(0, 0%, 0%, 0.12),
  'large': 0 10px 24px hsla(0, 0%, 0%, 0.12),
  'xlarge': 0 15px 35px hsla(0, 0%, 0%, 0.12),
);
@function shadow($shadow-value) {
  @return map-get($shadow-system, $shadow-value);
}
