@import './config';

/* Spinning loading animation */
@-webkit-keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@-webkit-keyframes pound {
  to {
    transform: scale(1.1);
  }
}
@keyframes pound {
  to {
    transform: scale(1.1);
  }
}

.animated {
  &.pulse {
    animation: pound 0.35s infinite alternate;
    -webkit-animation: pound 0.35s infinite alternate;
    vertical-align: baseline;
  }
  &.pulse-hover:hover {
    animation: pound 0.35s infinite alternate;
    -webkit-animation: pound 0.35s infinite alternate;
    vertical-align: baseline;
  }

  &.loading {
    display: block;
    position: relative;

    &::after {
      content: '';
      border: 2px solid #ccc;
      border-radius: 50%;
      border-right-color: transparent;
      border-top-color: transparent;
      display: block;
      height: spacing('1');
      width: spacing('1');
      left: calc(50% - (16px / 1.25));
      top: calc(50% - (16px / 1.7));
      position: absolute;
      -webkit-animation: loading 500ms infinite linear;
      animation: loading 500ms infinite linear;
    }

    &.loading-left {
      padding-left: spacing('3');

      &::after {
        left: spacing('1');
        right: auto;
      }
    }

    &.loading-right {
      padding-right: spacing('3');

      &::after {
        right: spacing('1');
        left: auto;
      }
    }
  }
}
