@import './config';

.avatar {
  border-radius: 50%;
  position: relative;
  display: block;
  font-size: font('24');
  font-weight: lighter;
  width: spacing('4');
  height: spacing('4');
  background-color: $blue-700;
  overflow: hidden;

  &::before {
    content: attr(data-text);
    color: #fff;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  &.avatar--xsmall {
    font-size: font('12');
    width: spacing('2');
    height: spacing('2');
  }

  &.avatar--small {
    font-size: font('16');
    width: spacing('3');
    height: spacing('3');
  }

  &.avatar--large {
    font-size: font('36');
    width: spacing('6');
    height: spacing('6');
  }

  &.avatar--xlarge {
    font-size: font('48');
    width: spacing('8');
    height: spacing('8');
  }

  img.padded {
    padding: spacing('0-5');
    width: 100%;
  }
}
