@import './config';

button,
.btn {
  display: block;
  overflow: hidden;
  text-align: center;
  user-select: none;
  padding: spacing('0-75') spacing('1');
  border-radius: border-radius('5');
  font-size: font('16');
  font-weight: 600;
  cursor: pointer;
  background-color: var(--accent-color-600);
  border: 2px solid var(--accent-color-600);
  color: #fff;
  outline: none;
  letter-spacing: 0.03rem;
  line-height: spacing('1');
  min-width: spacing('2');
  transition: all 200ms;

  &:hover {
    transition: all 200ms;
    background-color: var(--accent-color-700);
    border: 2px solid var(--accent-color-700);
  }

  &:active {
    transition: 200ms ease;
  }

  &.secondary {
    background-color: transparent;
    color: var(--accent-color-600);
    border: 2px solid var(--accent-color-200);

    &:hover {
      background-color: var(--accent-color-600);
      border: 2px solid var(--accent-color-600);
      color: #fff;
    }
  }

  &.tertiary {
    color: var(--accent-color-600);
    background-color: transparent;
    border: none;

    &:hover {
      background-color: transparent;
      color: var(--accent-color-800);
    }
  }

  &.btn--xlarge {
    font-size: font('24');
    padding: spacing('1-5') spacing('3');
  }

  &.btn--large {
    font-size: font('20');
    padding: spacing('1') spacing('2');
  }

  &.btn--small {
    font-size: font('14');
    padding: spacing('0-5') spacing('0-5') + 2px;
  }

  &.btn--xsmall {
    font-size: font('12');
    padding: spacing('0-5') - 2px spacing('0-5');
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
