@import './config';

input:not([type=checkbox]):not([type=radio]):not([type=submit]),
select {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: border-radius('reg');
  color: #5a5a5a;
  font-family: 'Nunito Sans';
  font-size: font('14');
  letter-spacing: 0.32px;
  outline: 0;
  padding: spacing('0-5') spacing('1');

  &.input-xs {
    font-size: font('12');
    padding: spacing('0-25') spacing('1');
  }

  &.input-sm {
    font-size: font('14');
    padding: spacing('0-5') spacing('1');
  }

  &.input-lg {
    font-size: font('20');
  }

  &.input-xl {
    font-size: font('30');
  }
}

input:not([type=checkbox]):not([type=radio]):not([type=submit]):focus,
select:focus,
textarea:focus,
textarea[type=text]:focus,
input[type=text].input-focused,
.input-focused {
  border-color: var(--primary-color-300);
  box-shadow: shadow('xsmall');
}

input[type="search"] {
  -webkit-appearance: none;
}

input[type="search"],
input.search {
  background-repeat: no-repeat;
  background-position: left spacing('0-5') center;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path opacity="0.45" d="M14.891,14.39l-0.5.5a0.355,0.355,0,0,1-.5,0L9.526,10.529a5.3,5.3,0,1,1,2.106-4.212,5.268,5.268,0,0,1-1.1,3.21l4.362,4.362A0.354,0.354,0,0,1,14.891,14.39ZM6.316,2.418a3.9,3.9,0,1,0,3.9,3.9A3.9,3.9,0,0,0,6.316,2.418Z"/></svg>'); /* NEEDS FIXING */
  padding-left: spacing('2') !important;
}

label {
  color: grays('700');
  display: inline-block;
  font-weight: bold;
  margin-top: spacing('0-75');

  &:first-child:not(:last-child) {
    margin-right: spacing('0-5');
  }

  label:not(:first-child):not(:last-child) {
    margin: 0 spacing('0-5');
  }

  label:last-child:not(:first-child) {
    margin-left: spacing('0-5');
  }

  &:not(:last-child) {
    margin-bottom: 0;
  }
}

input {
  &.input-contains-icon,
  &.input-contains-icon-left {
    padding-left: spacing('3') !important;
  }

  &.input-contains-icon-right {
    padding-right: spacing('3') !important;
  }
}

.input-control {
  position: relative;
  margin: spacing('0-5') 0;
}

.form-group {
  display: flex;
  display: -ms-flexbox;
  margin: spacing('0-5') 0;

  .form-group-input {
    &:not(:last-child) {
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
      margin-left: -0.1rem;
      margin-right: -0.1rem;
    }
  }

  .form-group-btn {
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    margin-bottom: 0;

    &:last-child:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin-left: -0.1rem;
    }
  }
}

.input-contains-icon ~ .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  &.icon-right {
    position: absolute;
    pointer-events: none;
    line-height: 2.75;
    vertical-align: baseline;
    top: 0;
    right: 0;
    width: 3rem;
    z-index: 1;
  }
}

.input-contains-icon ~ .icon:not(.icon-right),
.input-contains-icon-left ~ .icon.icon-left {
  position: absolute;
  left: 0;
  top: 0;
  width: 3rem;
  z-index: 1;
}
