@import './config';

a {
  color: var(--primary-color-600);
  display: block;
  font-weight: 600;
  padding: spacing('0-25');
  text-decoration: none;
  transition: all 0.3s;

  &:hover {
    color: var(--primary-color-700);
    transition: all 0.3s;
  }

  &:visited,
  &:hover,
  &:active {
    backface-visibility: hidden;
    text-decoration: none;
  }
}

p a, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, blockquote a, article a {
  display: inline;
}
