@import './config';

a {
  color: var(--primary-color-600);
  display: block;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s;

  &:hover {
    color: var(--primary-color-700);
    transition: all 0.3s;
  }

  &:visited,
  &:hover,
  &:active {
    backface-visibility: hidden;
    text-decoration: none;
  }

  &.underline-indigo {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(70%, rgba(101, 125, 225, 0.4)));
    background-image: linear-gradient(180deg, transparent 70%, rgba(101, 125, 225, 0.4) 0);
  }

  &.underline-blue {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(70%, rgba(101, 125, 225, 0.4)));
    background-image: linear-gradient(180deg, transparent 70%, rgba(66, 153, 225, 0.4) 0);
  }

  &.underline-red {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(70%, rgba(101, 125, 225, 0.4)));
    background-image: linear-gradient(180deg, transparent 70%, rgba(245, 101, 101, 0.4) 0);
  }

  &.underline-purple {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(70%, rgba(101, 125, 225, 0.4)));
    background-image: linear-gradient(180deg, transparent 70%, rgba(159, 122, 234, 0.4) 0);
  }

  &.underline-green {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(70%, rgba(101, 125, 225, 0.4)));
    background-image: linear-gradient(180deg, transparent 70%, rgba(72, 187, 120, 0.4) 0);
  }

  &.underline-gray {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(70%, rgba(101, 125, 225, 0.4)));
    background-image: linear-gradient(180deg, transparent 70%, rgba(160, 174, 192, 0.4) 0);
  }
}

p a, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, blockquote a, article a {
  display: inline;
}
